:root {
    --fonte: 'Squada One', sans-serif;
    --fonte-secundaria: 'Signika Negative', sans-serif;
    --cor-primaria: #191f48;
    --cor-secundaria: #4a55b1;
    --cor-terciaria: #2f3777; 
    --cor-reserva: #6973df;
    --cor-fundo: #6973df2a;
    --branco: #ffffff;

    --planos-cartao-start: #2039a3;
    --planos-cartao-ultra: #e84545;
    --planos-cartao-mega: #ffc93c;
    --planos-cartao-start-secundaria: #2038a3a1;
    --planos-cartao-ultra-secundaria: #e84545a1;
    --planos-cartao-mega-secundaria: #ffc93ca1;
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--fonte);
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}